{
  "TOKEN": "NzY4MDEzNTM2MjE1MDQwMDAw.X46SWA.vhj_AJx2pokpxOYUWzRxyDPDptI",
  "YOUTUBE_API_KEY": "AIzaSyBmF9xamwmVpiGePsiN-Og5xERQPlOoc",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": ":",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 100,
  "DEFAULT_VOLUME": 100
}
