{
  "TOKEN": "ODc0NDE1ODAzMTk2MzgzMjMz.YRGpLQ.5hYKBZLukh2X8r6DbNEGpH7dHpo",
  "YOUTUBE_API_KEY": "AIzaSyCNB1TgezqfCdEOKyzdhS8R7QuDROohyZU",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
